{% extends "base.html" %}
{% block content %}
  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('/static/images/space.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>
                <span>I'm SkiFast1</span><br>
                  <span>Pentester/InfoSec enthusiast</span><br>
                  <span>AppSec at VK</span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}

